html, body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.blog-item h3 {
   font-weight: 500;
   font-size: 30px;
   line-height: 44px;
   color: #21243D;
}
.blog-item p {
    background-color: red;
}
    
.blog-item .published-date {
    background-color: green;
}
.blog-item .category{
    background-color: blue;
}

#clickity {
    background-color: rgb(243, 202, 22);
    margin: 10px;
    /* border: 2px solid red; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.card {
    background-color: #fff;
    margin-top: 15px;
    margin-left: 45px;
    margin-right: 30px;
    padding: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
}
  #title{
      font-size: 20px;
      margin-bottom: 12px;
  }
  #my-name{
      font-weight: bold;
      font-size: 25px;
      }
#my-email,#my-number{
    color: rgb(100, 98, 98);
}
